apiVersion: 1

contactPoints:
  - orgId: 1
    name: Email Notifications
    receivers:
      - uid: email_contact
        type: email
        settings:
          addresses: arunbalaji2323@gmail.com
          singleEmail: false
        disableResolveMessage: false

  - orgId: 1
    name: Critical Alerts Email
    receivers:
      - uid: critical_email
        type: email
        settings:
          addresses: arunbalaji2323@gmail.com
          singleEmail: true
        disableResolveMessage: false

policies:
  - orgId: 1
    receiver: Email Notifications
    group_by:
      - grafana_folder
      - alertname
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
    routes:
      - receiver: Critical Alerts Email
        object_matchers:
          - ['severity', '=', 'critical']
        group_wait: 10s
        group_interval: 2m
        repeat_interval: 30m
        continue: false

      - receiver: Email Notifications
        object_matchers:
          - ['severity', '=', 'warning']
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 4h
        continue: false
